h1 {
    text-align: center;
    color: #0f1111;
    text-decoration: underline;
    text-shadow: 3px 3px 5px red ,-3px -3px 5px blue;
}
select {
    background-color:rgba(250, 235, 215, 0.836);
    color:black;

}
textarea {
    background-color:rgb(255, 255, 255);
    color: black;
}
h2 {
    text-align: center;
    text-decoration: underline;
    color:rgb(0, 0, 0);
    text-shadow: 3px 3px 5px blue  , -3px -3px 5px red;
}
h3 {
    color:rgb(0, 0, 0);
    text-shadow: 3px 3px 5px red , -3px -3px 5px blue;
}
* {
   padding: 0;
   margin: 0;
   color: rgb(0, 0, 0);
}
#navbar {
    height:40px;
    background-color: #0f1111;
    padding: 10px;
}
button {
    text-shadow: 3px 3px 5px red , -3px -3px 5px blue;
    color: #0f1111;
    cursor: pointer;
    
}
#logo {
    color: #f08804;
    font-size: 25px;
    cursor: pointer;
}
a {
    margin-right: 200px;
    text-decoration: none;
    color: beige;
    cursor: pointer;
    gap: 5px;
    /* display: flex; */
    /* display: inline; */
    text-align: center;
    /* justify-content: space-between; */

}
#box {
    border-width: 3px;
    border-style: solid;
    border-color:#f08804;
    /* display: flex; */
    /* justify-content: space-between; */
    text-align: center;
}
body {
    background-color:rgba(0, 0, 0, 0.457);
    background-color:white;
}
select {
    text-shadow: 3px 3px 5px red , -3px -3px 5px blue;
}
#box {
    border-style: solid;
    
    text-shadow: 3px 3px 5px red , -3px -3px 5px blue;
}
.footer{
    display: flex;
    justify-content: center;
    text-shadow: 3px 3px 5px red , -3px -3px 5px blue;
}



